.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-family: "Varela Round", sans-serif;
}

.container:hover {
  background-color: #fafafa;
}

.title,
.date {
  color: #333;
  font-size: 13pt;
}

.title {
  white-space: nowrap;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  color: #999;
}

.date {
  flex-grow: 1;
  text-align: end;
  margin-right: 5rem;
}

.delete {
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin-right: 1rem;
}
