.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 0.5rem;
}
